@media screen and (min-width: 650px) {
  .sidebar {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
  }
}


.sidebar {
  border-right: 0.3rem solid black;
  border-bottom: 0.15rem solid black;
  background-color: #44424223;
  border-radius: 3em;
  align-items: center;
  padding-left: 5em;

  position: relative;
  color: rgb(246, 245, 245);
  overflow-y: hidden;
}

.strap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px; /* Width of the straps */
  background-color: rgb(216, 216, 216);; /* Color of the straps */
}

.strap:nth-child(1) {
  left: 5px;
  width: 2px;
}

.strap:nth-child(2) {
  left: 20px;
  width: 3px;
}
.strap:nth-child(3) {
  left: 40px;
  width: 5px;
}

.strap:nth-child(4) {
  left: 90px;
  width: 10px;
}

.strap:nth-child(5) {
  left: 150px;
  width: 30px;
}

@media screen and (max-width: 1024px) {
  .strap:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .strap:nth-child(4) {
    display: none;
  }
}