.searchCard {
  display: flex;
  justify-content: center;
}

.searchCard > * {
  row-gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  position: relative;
}

.searchForm {
  height: 5em;
}

.searching {
  height: 9em;
}

.searching p {
  font-size: 1.5em;
  font-weight: bold;
}

.button {
  width: 5em;
  position: absolute;
  bottom: 0;
}