* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
}

#root {
  height: 100vh;
  background-color: rgb(48, 46, 46);
  color: white;
  overflow-y: scroll;
}

.content {
  flex: 10;
}

#sidebar {
  flex: 1;
}

#game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#board,
#game_sidebar {
  margin-top: 50px;
}

#board {
  grid-row: 1 / 2;
}

#game_sidebar {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #game {
    grid-template-columns: auto auto;
    grid-template-rows: 100vh;
    padding-left: 50px;
  }
}