.chatBox {
  height: 500px;
  max-width: 300px;
  border: 1px solid gray;
  background-color: rgb(200, 200, 200);
  position: relative;
  color: black;

  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

@media screen and (min-width: 1024px) {
  #chatbox {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.scroller {
  height: 100%;
  max-height: 551px;
  padding-bottom: 15%;
}

.message {
  margin: 10px 3px;
  background-color: rgb(182, 182, 165);
  width: fit-content;
  padding: 1em;
  border-radius: 0.5em;
}

.sendWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sendForm {
  display: flex;
  flex-direction: column;
}