.chatBox {
  margin-top: 10%;
  height: 75vh;
  width: 100%;

  border: 1px solid gray;
  background-color: rgb(200, 200, 200);
  position: relative;
  color: black;
}

@media screen and (min-width: 768px) {
  .chatBox {
    height: 50vh;
  }
}

.scroller {
  height: 100%;
  padding-bottom: 3em;
  overflow-x: hidden;
}

.message {
  margin: 0.5em 0.3em;
  background-color: rgb(182, 182, 165);
  max-width: fit-content;
  overflow-wrap: break-word;
  padding: 0.5em;
  border-radius: 0.5em;
}

.blackMsg {
  background-color: black;
  color: white;
}

.whiteMsg {
  background-color: white;
  color: black;
}

.sendWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sendForm {
  display: flex;
  flex-direction: column;
}